<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Reddit App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Posts</h1>

<a th:href="@{add}">Add New Post</a> </br>
<!--<a th:href="@{/list/?notDone=true}">Active Tasks</a> <br>-->
<a th:href="@{/user/newUser}">Add New User</a>

<table class="table table-hover">
    <tr>
        <th>Upvotes/Downvotes</th>
        <th>Vote</th>
        <th>Post Title</th>

    </tr>
    <tr th:each="post:${posts}">
        <td th:text="${post.getVoteCount()}"></td>
        <td><a th:href="@{|${post.getId()}/upvote|}">+</a> <a th:href="@{|${post.getId()}/downvote|}">-</a> </td>
        <td> <a th:href="*{post.getUrl()}" th:text="${post.getTitle()}"></a></td>

    </tr>
</table>

</body>
</html>