<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>P2P Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div class="container my-2">
    <h1> Chat </h1>
    <p></p>

    <form action="#" th:action="@{|/sendMessage/${api}|}" method="post" th:object="${message}">
    <label>Message: </label>
    <input type="text" th:field="*{content}" name="content">

    <input type="submit" value=" Send ">
    </form>

</div>

</body>
</html>