<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>P2P Chat Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div class="container my-2">
    <h1> P2P Chat Login </h1>

    <form action="#" th:action="@{|/update/{api}|}" method="post" th:object="${loginRequest}">
        <label>Username: </label>
        <input type="text" name="login">
        <label>Password: </label>
        <input type="password" name="password">
        <input type="submit" value="Log In">
    </form>

</div>

</body>
</html>