<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UU</title>
</head>
<body>
<h1>Usefull Utilities</h1>
<ul>
    <li> <a th:href="@{/useful/colored}"]>Random Color</a></li>
    <li> <a th:href="@{/useful/email?email=is@this.valid}"]>E-mail Validator</a></li>
    <li> <a th:href="@{/useful/email?email=isthis.valid}"]>E-mail Validator - invalid</a></li>
    <li> <a th:href="@{/useful/encode?word=cipher&number=1}"]>Cipher Encode</a></li>
    <li> <a th:href="@{/useful/decode?word=njlf&number=-1}"]>Decode "mike"</a></li>
</ul>

</body>
</html>