<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container" align="center">
    <h1>Reddit</h1>
    <header th:replace="fragments/header :: header"></header>
</div>
<h1>Edit Post</h1>
<form action="#" th:action="@{|/${username}/posts/create|}" th:object="${post}" method="post" class="form-inline">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{voteCount}"/>


    <input type="text" th:field = "*{title}" placeholder="Title" class="form-control mb-4">

    <input type="text" th:field = "*{url}" placeholder="URL" class="form-control mb-4">

    <label>User: </label><select th:field="*{user}">
    <option th:value="null" th:text="''"></option>
    <option th:each="user : ${users}"
            th:value="${user.getUserId()}"
            th:text="${user.getUserName()}"></option>
</select></br>

    <button type="submit" class="btn btn-info col-2"> Update Post</button>
</form>


</body>
</html>