<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Shop</title>
</head>
<body>
<ul>
    <li><a th:href="'/?name='+ ${fox.getName()}">Information</a></li>
    <li><a th:href="'/nutritionStore?name=' +${fox.getName()}">Nutrition</a></li>
    <li><a th:href="'/trickCenter?name=' + ${fox.getName()}">Trick Center</a> </li>
    <li><a th:href="'/actionHistory?name=' + ${fox.getName()}">Action History</a> </li>

</ul>

<form th:action="'/nutriStore?name=' + ${fox.getName()}" method="post">
    <label>Food</label>
    <select name = "food">
        <option value="fries">fries</option>
        <option value="chips">chips</option>
        <option value="salad">salad</option>
    </select>
    <label>Drink</label>
    <select name = "drink">
        <option value="water">water</option>
        <option value="soda">soda</option>
    </select>
    <input type="submit" value="Change">
</form>

</body>
</html>