<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>Add a New Todo</h1>
<form action="/add" th:object="${title}" method="post" class="form-inline">
    <input name="title" class="form-control" input type="text"/>
    <input type="submit" value="Submit"><br>
    <a th:href="@{/}">Cancel</a>
</form>
</body>
</html>