<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>Todo List for Today:</h1>

<a th:href="@{/add}">Add New Task</a> </br>
<a th:href="@{/list/?notDone=true}">Active Tasks</a> <br>
<a th:href="@{/list/}">All Tasks</a>

<table class="table table-hover">
    <tr>
        <th>Task ID#</th>
        <th>Description</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    <tr th:each="todo:${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td> <a th:href="|/${todo.getId()}/delete|">Delete</a></td>
        <td> <a th:href="|/${todo.getId()}/edit|">Edit</a></td>


    </tr>
</table>

</body>
</html>